<% include ../layout/header %>

<body class="w3-content" style="max-width:1200px">

  <% include ../layout/side %>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <% include ../layout/topheader %>

    

    <div class="w3-container w3-text-grey" id="jeans">
      <p>Welcome New Customer!</p>
    </div>


    <form method="POST" id="registerform">
    <div class="w3-row w3-grayscale  w3-border w3-round-xlarge">
        <div class="w3-container w3-text-grey">
            <p>Details</p>
        </div>
        <div class="w3-container">
            
                    <div class="w3-container w3-cell">
                        <p class="w3-medium">I D* </p>
                        <p class="w3-medium">비밀번호* </p>
                        <p class="w3-medium">비밀번호 확인* </p>
                        <p class="w3-medium">이름* </p>
                        <p class="w3-medium">주소* </p>
                        <br>
                        <br>
                        <br>
                        <p class="w3-medium">전화번호 </p>
                        <p class="w3-medium">휴대폰* </p>
                        <p class="w3-medium">E-mail </p>
                    </div>
                    <div class="w3-container w3-cell">
                        <div class="w3-cell">
                            <input class="w3-input" type="text" name="username" id="username" >
                        </div>
                        <div class="w3-cell">
                            <button class="w3-button w3-round w3-grey w3-tiny w3-padding-small" type="button" id="overlapCheck">중복확인</button>
                        </div>
                        <input class="w3-input" type="password" name="password" id="password" >
                        <input class="w3-input" type="password" name="passwordcheck" id="passwordcheck" >
                        <input class="w3-input" type="text" name="name" id="name" >
                        <div class="w3-cell">
                            <input class="w3-input postcodify_postcode5"   type="text" name="zipcode" id="zipcode" readonly="true" >
                        </div>
                        <div class="w3-cell">
                            <button class="w3-button w3-round w3-grey w3-tiny w3-padding" type="button" id="postcodify_search_button">검색</button>
                        </div>
                        <input class="w3-input postcodify_address" type="text" name="addr" id="addr" readonly="true" >
                        <input class="w3-input postcodify_extra_info"  type="text" name="detailsaddr" id="detailsaddr" >
                        <input class="w3-input" type="text" name="tel" id="tel" >
                        <input class="w3-input" type="text" name="hp" id="hp">
                        <input class="w3-input" type="text" name="email" id="email">
                    </div>
            
        </div>
    </div>
    <div class="w3-row w3-grayscale  w3-border w3-round-xlarge">
        <div class="w3-container w3-text-grey">
            <p>Terms of use</p>
        </div>
        <div class="w3-container">
            <div class="w3-container" style="overflow:scroll;width:100%; height:150px" >
               이용약관
            </div>
            <div class="w3-container">
                <p class="w3-right w3-small"><span>이용약관에 동의하십니까?  </span> <label><input class="w3-right" type="checkbox" id="termofusebox" >동의함</label></p>
            </div>
        </div>
        <div class="w3-container w3-text-grey">
            <p>Private Policy</p>
        </div>
        <div class="w3-container">
            <div class="w3-container" style="overflow:scroll;width:100%; height:150px" >
               개인정보수집
            </div>
            <div class="w3-container ">
                <p class="w3-right w3-small"><span>개인정보수집 및 이용에 동의하십니까?  </span> <label><input class="w3-right" type="checkbox" id="privatepolicybox">동의함</label></p>
            </div>
        </div>
    </div>
    <div class="w3-container">
        <div class="w3-container w3-center">
            <button type="button" onclick="memberJoinAction()" class="w3-button w3-blue w3-round">가입하기</button>
            <a href="/"><button type="button" class="w3-button w3-blue w3-round">취소</button></a>
        </div>
    </div>
    </form>
    
    <% include ../layout/footer %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/8.0.0/validator.min.js"></script>
  <script src="/javascripts/validate.js"></script>
  <script>

    $(function() { $("#postcodify_search_button").postcodifyPopUp(); });


  </script>

</body>

</html>

