<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .w3-sidebar a {
    font-family: "Roboto", sans-serif
  }

  body,
  h1,
  h2,
  h3,
  p ,
  p ,
  p ,
  .w3-wide {
    font-family: "Montserrat", sans-serif;
  }
</style>

<body class="w3-content" style="max-width:1200px">

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
      <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
      <h3 class="w3-wide"><b>LOGO</b></h3>
    </div>
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
      <a href="#" class="w3-bar-item w3-button">Shirts</a>
      <a href="#" class="w3-bar-item w3-button">Dresses</a>
      <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">Jeans</a>
      <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a>
        <a href="#" class="w3-bar-item w3-button">Relaxed</a>
        <a href="#" class="w3-bar-item w3-button">Bootcut</a>
        <a href="#" class="w3-bar-item w3-button">Straight</a>
      </div>
      <a href="#" class="w3-bar-item w3-button">Jackets</a>
      <a href="#" class="w3-bar-item w3-button">Gymwear</a>
      <a href="#" class="w3-bar-item w3-button">Blazers</a>
      <a href="#" class="w3-bar-item w3-button">Shoes</a>
    </div>
    <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
    <a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a>
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
      <p class="w3-left">Register</p>
      <p class="w3-right">
        <i class="fa fa-shopping-cart w3-margin-right"></i>
        <i class="fa fa-search"></i>
      </p>
    </header>

    

    <div class="w3-container w3-text-grey" id="jeans">
      <p>Welcome New Customer!</p>
    </div>


    <form method="POST" id="registerform">
    <div class="w3-row w3-grayscale  w3-border w3-round-xlarge">
        <div class="w3-container w3-text-grey" id="jeans">
            <p>Details</p>
        </div>
        <div class="w3-container">
            
                    <div class="w3-container w3-cell">
                        <p class="w3-medium">I D* </p>
                        <p class="w3-medium">비밀번호* </p>
                        <p class="w3-medium">비밀번호 확인* </p>
                        <p class="w3-medium">이름* </p>
                        <p class="w3-medium">주소* </p>
                        <br>
                        <br>
                        <br>
                        <p class="w3-medium">전화번호 </p>
                        <p class="w3-medium">휴대폰* </p>
                        <p class="w3-medium">E-mail </p>
                    </div>
                    <div class="w3-container w3-cell">
                        <div class="w3-cell">
                            <input class="w3-input" type="text" name="username" id="username" >
                        </div>
                        <div class="w3-cell">
                            <button class="w3-button w3-round w3-grey w3-tiny w3-padding-small" type="button" id="overlapCheck">중복확인</button>
                        </div>
                        <input class="w3-input" type="password" name="password" id="password" >
                        <input class="w3-input" type="password" name="passwordcheck" id="passwordcheck" >
                        <input class="w3-input" type="text" name="name" id="name" >
                        <div class="w3-cell">
                            <input class="w3-input postcodify_postcode5"   type="text" name="zipcode" id="zipcode" readonly="true" >
                        </div>
                        <div class="w3-cell">
                            <button class="w3-button w3-round w3-grey w3-tiny w3-padding" type="button" id="postcodify_search_button">검색</button>
                        </div>
                        <input class="w3-input postcodify_address" type="text" name="addr" id="addr" readonly="true" >
                        <input class="w3-input postcodify_extra_info"  type="text" name="detailsaddr" id="detailsaddr" >
                        <input class="w3-input" type="text" name="tel" id="tel" >
                        <input class="w3-input" type="text" name="hp" id="hp">
                        <input class="w3-input" type="text" name="email" id="email">
                    </div>
            
        </div>
    </div>
    <div class="w3-row w3-grayscale  w3-border w3-round-xlarge">
        <div class="w3-container w3-text-grey">
            <p>Terms of use</p>
            <div class="w3-container" style="overflow:scroll;width:100%; height:150px" >
               이용약관
            </div>
            <div class="w3-container">
                <p class="w3-right w3-small"><span>이용약관에 동의하십니까?  </span> <label><input class="w3-right" type="checkbox" id="termofusebox" >동의함</label></p>
            </div>
        </div>
        <div class="w3-container w3-text-grey">
            <p>Private Policy</p>
            <div class="w3-container" style="overflow:scroll;width:100%; height:150px" >
               개인정보수집
            </div>
            <div class="w3-container ">
                <p class="w3-right w3-small"><span>개인정보수집 및 이용에 동의하십니까?  </span> <label><input class="w3-right" type="checkbox" id="privatepolicybox">동의함</label></p>
            </div>
        </div>
    </div>
    <div class="w3-container">
        <div class="w3-container w3-center">
            <button type="button" onclick="memberJoinAction()" class="w3-button w3-grey w3-round">가입하기</button>
            <a href="/"><button type="button" class="w3-button w3-grey w3-round">취소</button></a>
        </div>
    </div>
    </form>
    <!-- Subscribe section -->
    <div class="w3-container w3-black w3-padding-32">
      <h1>Subscribe</h1>
      <p>To get special offers and VIP treatment:</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
      <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
    </div>

    <!-- Footer -->
    <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
      <div class="w3-row-padding">
        

        <div class="w3-col w3-half">
          <p class="w3-medium">About</p class="w3-medium">
          <p><a href="#">About us</a></p>
          <p><a href="#">We're hiring</a></p>
          <p><a href="#">Support</a></p>
          <p><a href="#">Find store</a></p>
          <p><a href="#">Shipment</a></p>
          <p><a href="#">Payment</a></p>
          <p><a href="#">Gift card</a></p>
          <p><a href="#">Return</a></p>
          <p><a href="#">Help</a></p>
        </div>

        <div class="w3-col w3-half ">
          <p class="w3-medium">Store</p class="w3-medium">
          <p><i class="fa fa-fw fa-map-marker"></i> Company Name</p>
          <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
          <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
          <p class="w3-medium">We accept</p class="w3-medium">
          <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
          <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
          <br>
          <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
          <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
          <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
          <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
          <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
        </div>
      </div>
    </footer>

    <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" class="w3-hover-opacity">Puzzler</a></div>

    <!-- End page content -->
  </div>

  <!-- Newsletter Modal -->
  <div id="newsletter" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
      <div class="w3-container w3-white w3-center">
        <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
        <h2 class="w3-wide">NEWSLETTER</h2>
        <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
        <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
        <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/8.0.0/validator.min.js"></script>
  <script src="/javascripts/validate.js"></script>
  <script>

    $(function() { $("#postcodify_search_button").postcodifyPopUp(); });
    // Accordion 
    function myAccFunc() {
      var x = document.getElementById("demoAcc");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
  </script>

</body>

</html>

