<% include ./layout/header %>
<body class="w3-content" style="max-width:1200px">

  <% include ./layout/side %>
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->

    <% include ./layout/topheader %>

    <div class="w3-container w3-center w3-padding-32 w3-border">
      <p>페이지가 존재하지 않습니다.</p>
    </div>

    <% include ./layout/footer %>

</body>

</html>