<% include ../layout/admin/header %>
<body>
    <% include ../layout/admin/nav %>
    <br><br>
    <div class="w3-container">
        <div class="w3-panel w3-leftbar">
            <h4>
                상품 등록
            </h4>
            <hr>
        </div>
    </div>
    <div class="w3-container">
        <div class="w3-container w3-grey w3-margin">
            <p>
                표시 설정
            </p>
        </div>
        <div class="w3-container">
            <table class="w3-table">
               <tr>
                   <th scope="row">진열 상태</th>
                   <td>
                        <label class="gLabel"><input type="radio" name="is_display" value="T">진열함</label>
                        <label class="gLabel"><input type="radio" name="is_display" value="F">진열안함</label>
                        <p class="txtInfo">등록한 상품의 쇼핑몰 진열(노출)여부를 설정합니다.</p>
                   </td>
               </tr>
                <tr>
                    <th scope="row">판매 상태</th>
                    <td>
                        <label class="gLabel"><input type="radio" name="selling_status" value="T">판매함</label>
                        <label class="gLabel"><input type="radio" name="selling_status" value="F">판매안함</label>
                        <ul class="txtInfo">
                            <li>진열한 상품의 판매여부를 설정합니다.</li>
                            <li>'판매함'일 경우 쇼핑몰 상품상세 화면에 [구매하기] 버튼이 표시되고, '판매안함'일 경우에는 [sold out(품절)] 버튼으로 표시됩니다.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">상품분류 선택</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">메인 진열</th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="w3-container">
        <div class="w3-container w3-grey w3-margin">
            <p>
                기본 정보
            </p>
        </div>
        <div class="w3-container">
            <table class="w3-table">
               <tr>
                   <th scope="row">상품명</th>
                   <td>
                   </td>
               </tr>
                <tr>
                    <th scope="row">모델명</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th scope="row">상품코드</th>
                    <td>자동생성</td>
                </tr>
                <tr>
                    <th scope="row">상품 유형</th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

</body>

</html>