<% include ../layout/admin/header %>
<body>
    <% include ../layout/admin/nav %>
    <br><br>
    <div class="w3-container">
        <div class="w3-panel w3-leftbar">
            <h4>
                상품 등록
            </h4>
            <hr>
        </div>
    </div>
    <div class="w3-container">
        <div class="w3-container w3-grey w3-margin">
            <p>
                표시 설정
            </p>
        </div>
        <div class="w3-container">
            <table class="w3-table">
               <tr>
                   <th scope="row">진열 상태</th>
                   <td>
                        <label class="gLabel"><input type="radio" name="is_display" value="T" checked>진열함</label>
                        <label class="gLabel"><input type="radio" name="is_display" value="F">진열안함</label>
                        <p class="txtInfo">등록한 상품의 쇼핑몰 진열(노출)여부를 설정합니다.</p>
                   </td>
               </tr>
                <tr>
                    <th scope="row">판매 상태</th>
                    <td>
                        <label class="gLabel"><input type="radio" name="selling_status" value="T" checked>판매함</label>
                        <label class="gLabel"><input type="radio" name="selling_status" value="F">판매안함</label>
                        <ul class="txtInfo">
                            <li>진열한 상품의 판매여부를 설정합니다.</li>
                            <li>'판매함'일 경우 쇼핑몰 상품상세 화면에 [구매하기] 버튼이 표시되고, '판매안함'일 경우에는 [sold out(품절)] 버튼으로 표시됩니다.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">상품분류 선택</th>
                    <td>
                        <div class="w3-container">
                            <table class="w3-table">
                                <tr>
                                    <th>1차분류</th>
                                    <th>2차분류</th>
                                    <th>3차분류</th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="registCategory">
                                            <li>Outer Wear</li>
                                            <li>Tops</li>
                                            <li>Dresses</li>
                                            <li>Bottoms</li>
                                            <li>Shoes</li>
                                        </ul>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">메인 진열</th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="w3-container">
        <div class="w3-container w3-grey w3-margin">
            <p>
                기본 정보
            </p>
        </div>
        <div class="w3-container">
            <table class="w3-table">
               <tr>
                   <th scope="row">상품명 <img src="/w3images/required_icon.png"/></th>
                   <td>
                        <input class="w3-input w3-border"type="text" name="product_name" placeholder="예시) 스트라이프 셔츠 [블루]">
                   </td>
               </tr>
                <tr>
                    <th scope="row">모델명</th>
                    <td>
                        <input class="w3-input w3-border" type="text" name="product_model">
                    </td>
                </tr>
                <tr>
                    <th scope="row">상품 코드</th>
                    <td>자동생성</td>
                </tr>
                <tr>
                    <th scope="row">상품 유형</th>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th scope="row">상품 요약설명</th>
                    <td>
                        <input class="w3-input w3-border" type="text" name="product_basic" value="">
                        <p class="txtInfo">상품의 간단한 추가 정보를 입력할 수 있습니다.</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">상품 상세설명</th>
                    <td>
                        <textarea rows="10" style="width:100%"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="w3-container">
        <div class="w3-container w3-grey w3-margin">
            <p>
                판매 정보
            </p>
        </div>
        <div class="w3-container">
            <table class="w3-table">
               <tr>
                   <th scope="row">소비자가</th>
                   <td>
                        
                   </td>
               </tr>
                <tr>
                    <th scope="row">공급가 <img src="/w3images/required_icon.png"></th>
                    <td>
                        <div class="w3-row">
                            <div class="w3-col" style="width:15%">
                                <input class="w3-input w3-border" style="padding: 2px" type="text" name="product_buy" id="product_buy" dir="rtl">
                            </div>
                            <div class="w3-col" style="width:auto">
                                <span>원</span>
                            </div>
                        </div>
                         <p class="txtInfo">원화 기준으로 입력해주세요.</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">과세 구분</th>
                    <td>
                        <div class="w3-row">
                            <label class="gLabel"><input type="radio" name="product_tax_type" id="product_tax_typeA" value="A" checked>과세상품</label>
                            <label class="gLabel"><input type="radio" name="product_tax_type" id="product_tax_typeB" value="B">영세상품</label>
                            <label class="gLabel"><input type="radio" name="product_tax_type" id="product_tax_typeC" value="C">면세상품</label>
                        </div>
                        <div id="productPriceSaleTaxBox" class="w3-row" style="padding-left:10px;padding-top:10px">
                            <div class="w3-col" style="width:auto">
                                <span id="productPriceSaleTax">과세율 : </span>
                            </div>
                            <div class="w3-col" style="width:15%">
                                <input class="w3-input w3-border" style="padding: 2px" type="text" name="tax_rate" dir="rtl" value="10">
                            </div>
                            <div class="w3-col" style="width: auto">
                                <span> % </span>
                            </div>
                        </div>
                        <p class="txtInfo">판매하시려는 상품의 과세를 확인해 주시기 바랍니다. (과세상품 : 부가세포함, 영세상품: 매입세액 환급, 면세상품: 부가세 신고대상에서 제외되는 상품)</p>
                        <p class="txtInfo">국내 결제서비스 제공사(PG사)에 판매가 정보를 전송할 경우, 법적 부가가치세율에 따라 설정한 과세비율과 관계없이 10%로 고정 처리됩니다.</p>    
                    </td>
                </tr>
                <tr>
                    <th scope="row">판매가 계산</th>
                    <td>
                        <div class="w3-container">
                            <table class="w3-table">
                                <tr>
                                    <th>
                                        <div class="w3-center">
                                            마진율
                                        </div>
                                    </th>
                                    <th>
                                        <div class="w3-center">
                                            추가금액
                                        </div>
                                    </th>
                                    <th>
                                        <div class="w3-center">
                                            판매가적용
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="w3-center">
                                            <input type="text" name="margin_rate" id="margin_rate" style="width:40%" value="10" dir="rtl"> % 
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w3-center">
                                            <input type="text" name="add_price" id="add_price" style="width:40%"  dir="rtl"> 원
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w3-center">
                                            <button class="w3-button w3-round w3-indigo" id="apply_price" type="button">판매가적용</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p class="txtInfo">판매가 계산방식은 [공급가 + (공급가 * 마진율) + 추가금액] 입니다.</p>
                        <p class="txtInfo">[판매가적용] 버튼을 누르면 하단 [판매가] 정보에 결제화폐 기준으로 판매가가 자동계산되어 적용됩니다.</p>    
                    
                    </td>
                </tr>
                <tr>
                    <th scope="row">판매가 <img src="/w3images/required_icon.png"></th>
                    <td>
                        <div class="w3-container">
                            <table class="w3-table">
                                <tr>
                                    <th>
                                        <div class="w3-center">
                                            판매가
                                        </div>
                                    </th>
                                    <th>
                                        <div class="w3-center">
                                            상품가
                                        </div>
                                    </th>
                                    <th>
                                        <div class="w3-center">
                                            과세금액
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="w3-center">
                                            <input type="text" name="product_sale_price" id="product_sale_price" style="width:40%" value="0" dir="rtl"> 원
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w3-center">
                                            <span id="product_price"></span> 원
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w3-center">
                                            <span id="product_taxPrice"></span> 원
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </td>
                </tr>
                <tr>
                    <th scope="row">주문수량 제한</th>
                    <td>
                        <div class="w3-container">
                            <table class="w3-table">
                                <tr>
                                    <th scope="row">최소 주문수량</th>
                                    <td>
                                        <input type="text" name="product_min_qty" id="product_min_qty" style="width:10%" value="1" dir="rtl"> 개 이상
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">최대 주문수량</th>
                                    <td>
                                        <label class="gLabel"><input type="radio" name="product_max_type" id="product_max_typeF" value="F" checked>제한없음</label>
                                        <input type="radio" name="product_max_type" id="product_max_typeT" value="T">
                                        <input type="text" name="product_max_qty" id="product_max_qty" disabled><label for="product_max_typeT">개 이하로 제한</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">적립금</th>
                    <td>
                        <input type="text" name="product_point" id="product_point" style="width:10%" value="0" dir="rtl">원
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="w3-container">
        <div class="w3-container w3-grey w3-margin">
            <p>
                옵션/재고 정보
            </p>
        </div>
        <div class="w3-container">
            <table class="w3-table">
                <tr>
                    <th scope="row">옵션 사용</th>
                    <td>
                        <label class="gLabel"><input type="radio" name="has_option" id="has_optionT" value="T">사용함</label>
                        <label class="gLabel"><input type="radio" name="has_option" id="has_optionF" value="F" checked>사용안함</label>
                    </td>
                </tr>
            </table>
            <table class="w3-table" name="input-option" style="display: none">
                <tr>
                    <th scope="row">옵션 입력</th>
                    <td>
                        <div class="w3-container">
                                <table class="w3-table">
                                        <tr>
                                            <th>
                                                <div class="w3-center">
                                                    옵션명
                                                </div>
                                            </th>
                                            <th>
                                                <div class="w3-center">
                                                    옵션값
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="w3-center">
                                                     <input class="w3-input w3-border" type="text" name="product_option_name" id="product_option_name" > 
                                                </div>
                                            </td>
                                            <td>
                                                <div class="w3-center">
                                                     <input class="w3-input w3-border" type="text" name="product_option_value" id="product_option_value" > 
                                                </div>
                                            </td>
                                        </tr>
                                </table>
                                <div class="w3-container">
                                    <button class="w3-button w3-right w3-round w3-indigo" type="button">모든 옵션 품목 추가</button>
                                </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="w3-table" id="manage-stock">
                    <tr>
                        <th scope="row">재고관리 사용</th>
                        <td>
                            <label class="gLabel"><input type="radio" name="use_manage_stock" id="use_manage_stockT" value="T">사용함</label>
                            <label class="gLabel"><input type="radio" name="use_manage_stock" id="use_manage_stockF" value="F" checked>사용안함</label>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="w3-container w3-margin" name="input-option" style="display:none">
            <table class="w3-table" >
                <th scope="col">No</th>
                <th scope="col">품목명/품목코드</th>
                <th scope="col">재고수량</th>
            </table>
    </div>
    <div class="w3-container">
        <div class="w3-container w3-grey w3-margin">
            <p>
                이미지 정보
            </p>
        </div>
        <div class="w3-container">
            <table class="w3-table">
                <tr>
                    <th scope="row">이미지 등록</th>
                    <td>
                        <input type="file" name="product_image" >
                    </td>
                </tr>
                
            </table>
        </div>
    </div>

    <div class="w3-container w3-padding-32 w3-center">
        <button class="w3-button w3-indigo w3-round" type="button">등록하기</button>
        <button class="w3-button w3-indigo w3-round" type="button">돌아가기</button>
    </div>

    
    <script src="/javascripts/adminCommon.js"></script>
</body>

</html>