<div class="w3-top">
    <div class="w3-row w3-brown">
        <div class="w3-col s2">
            <a href="./" class="w3-button w3-block">HOME</a>
        </div>
        <div class="w3-col s2">
            <a href="./product" class="w3-button w3-block ">PRODUCT</a>
        </div>
        <div class="w3-col s2">
            <a href="./order" class="w3-button w3-block ">ORDER</a>
        </div>
        <div class="w3-col s2">
            <a href="./member" class="w3-button w3-block ">MEMBER</a>
        </div>
        <div class="w3-col s2">
            <a href="./board" class="w3-button w3-block ">BOARD</a>
        </div>
        <div class="w3-col s2">
            <a href="./static" class="w3-button w3-block ">STATIC</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/adminCommon.js"></script>
</div>